<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <h1 class="text-center">Cooperativa</h1>
    </div>
  </div>

  <div class="row mt-3 mb-5 d-flex justify-content-center">
    <div class="col-md-6">

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nome do Usuario</th>
            <th scope="col" class="text-right">Endereço</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let usuario of listaUsuario'>
            <th>{{usuario.nome}}</th>
            <td>{{usuario.endereco}}</td>
            <td class="d-flex justify-content-end">
              <button class="btn btn-info mr-3">Retirar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
