<div class="container py-5">
  <div class="row d-flex justify-content-between">
    <div class="col-md-6">

      <div>

        <h1 class="fs-48" >
          <p>Entre em contato</p>
          <p>com a gente!</p>
        </h1>
        <br>
        <h5 class="fs-24" >
          <p>Entre em contato com a Eco-merce,</p>
          <p>queremos tirar suas dúvidas, ouvir suas</p>
          <p>críticas e sugestões.</p>
        </h5>
  
        <button class="btn btn-success d-flex align-items-center justify-content-center zap"> 
        <img class="iconeZap" src="https://i.imgur.com/0GoHSk3.png" 
        alt="Icone Whatsapp"></button>
  
      </div>

    </div>

    <div class="col-md-4 p-3">

      <div class="p-3 d-flex justify-content-start align-content-center">
        <button class="btn"><img class="iconeCont" src="https://i.imgur.com/TUOGvpv.png" 
          alt="Icone Telefone"></button><p>11 00000-0000</p>
      </div>

      <div class="p-3 d-flex justify-content-start align-content-center">
        <button class="btn"><img class="iconeCont" src="https://i.imgur.com/pBVPFrA.png" 
          alt="Icone localizacao"></button><p>Rua Generation, 24</p>
      </div>

      <div class="p-3 d-flex justify-content-lg-start align-content-center">
        <button class="btn"><img class="iconeCont" src="https://i.imgur.com/6f68kHM.png" 
          alt="Icone e-mail"></button><p>contato@ecomerce.com</p>
      </div>

    </div>
    
  </div>
</div>


<!-- Rodape -->
<footer class="text-center corFooter pt-4">

  <div class="container-fluid">

    <div class="row d-flex align-content-center">
      <div class="col-4 d-flex justify-content-lg-start">

        <div class="corFooter text-center p-3">
          <img src="https://i.imgur.com/HZCMvsB.png" alt="Logo" style="width: 80px">

        </div>
      </div>

      <div class="col-8 d-flex justify-content-center">
        <!-- Copyright -->
        <div class="d-flex justify-content-lg-start">
          <div class="corFooter text-center p-3">
            <p class="text-light">Por um mundo menos poluído.
            </p>
            <p class="text-light"> ©2021 Todos os direitos reservados para Eco-merce. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Rodape -->
