.corFooter{
  background-color: #9556bf;

}



ul.socialNetwork {
    list-style: none; /* Remove list bullets */
    display: inline;
    padding: 0;
  }

  ul.socialNetwork li {
    display: inline;
    padding: 0;
    margin: 0;
  }

  .fa {
    font-size: 35pt;
    color: white;
  }

  .fa-facebook-official:hover {
    color: #3b5998;
  }

  .fa-instagram:hover {
    color: #c13584;
  }

  .fa-github:hover {
    color: black;
  }

  .fa-linkedin-square:hover {
    color: #0072b1;
  }
