/* CSS Nav Bar */

.NavPadding {
    padding: 5px 90px 5px 90px;
  }
  /* Padding dos titulos da nav bar */
  
  .navItem {
    color: #f0f2f5 !important;
    padding: 5px 15px 5px 15px !important;
    transition-duration: 0.7s;
  }
  
  .navItem:hover {
    color: #abf85e !important;
    transition-duration: 0.7s;
  }
  
  /* Botão login*/
  
  .buttonDivE {
    padding: 0px 10px 0px 5px;
  }
    
  .buttonEntrar:hover {
    color: #fffbfb;
    background-color: #9556bf;
    border: 1px solid #fffbfb;
    transition-duration: 0.7s;
  }
  
  /* Botão Cadastrar */
  
  .buttonDivC {
    padding: 0px 0px 0px 10px;
  }
  
  .buttonIcon {
    color: #fffbfb;
    background-color: #9556bf;
    border-style: hidden;
    transition-duration: 0.7s;
    width: 130px;
    height: 40px;
    font-size: 20px;
  }

  .icone{
      width: 30px;
      height: 30px;
  }
 
  /* CSS Nav Bar */

  /*Cliente*/

  
