<!-- Nav Bar -->

<div class="container d-flex">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top NavPadding" style="background-color: #9556BF">
        <a class="navbar-brand" href="/view/index.html"><img src="https://i.imgur.com/HZCMvsB.png" style="width: 40px"
            alt="Logo Eco-merce" /></a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "></span>
        </button>

        <div class="collapse navbar-collapse  d-flex justify-content-between" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto active ">
            <li class="nav-item ">
              <a class="nav-link navItem" href="#">Home</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link navItem " href="#">Quem somos</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link navItem " href="#">Serviços</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link  navItem" href="#">Parceiros</a>
            </li>
          </ul>
          <form class="form-inline d-flex align-items-center">
            <div class="buttonDivE">
              <button class="buttonSair d-flex align-items-center justify-content-center"
                type="submit"> <img class="
                " src="https://i.imgur.com/CnpkYJn.png" alt="Icone Configuracao">
                Configuração
              </button>
            </div>

            <div class="buttonDivC">
              <button class="buttonSair d-flex align-items-center justify-content-center"
                type="submit"> <img class="iconeSair" src="https://i.imgur.com/oQy43dE.png" alt="Icone Sair">
                Sair
              </button>
            </div>
          </form>
        </div>
      </nav>
    </div>
  </div>
</div>

<!-- Nav Bar -->



<!-- <div class="container">

  <div class="row mt-5">
    <div class="col-md-12">
      <h2 class="text-center">Vouchers</h2>
    </div>
  </div>

  <div class="row mt-3 mb-5 d-flex justify-content-center">
    <div class="col-md-6">

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Pontos necessários</th>
            <th scope="col">Empresa</th>
            <th scope="col" class="text-right">Descrição</th>

          </tr>
        </thead>

        <tbody>
          <tr *ngFor='let voucher of listaVoucher'>
            <th>{{voucher.pontosNecessario}}</th>
            <td>{{voucher.empresaParceira}}</td>
            <td>{{voucher.descricaoVoucher}}</td>
            <td class="d-flex justify-content-end">
              <button class="btn btn-info mr-3">Pegar</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div> -->