<!-- Nav Bar -->

<div class="container d-flex p-5 justify-content-between">
  <div class="col-12">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top NavPadding" style="background-color: #9556BF">
      <a class="navbar-brand" href="/view/index.html"><img src="https://i.imgur.com/HZCMvsB.png" style="width: 40px"
          alt="Logo Eco-merce" /></a>
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>

      <div class="collapse navbar-collapse  d-flex justify-content-between" id="navbarSupportedContent">
        <form class="form-inline d-flex align-items-center">
          <div class="buttonDivE">
            <button class="buttonIcon d-flex align-items-center justify-content-center" type="submit"
              data-bs-toggle="modal" data-bs-target="#config"><img class="icone" src="https://i.imgur.com/CnpkYJn.png"
                alt="Icone Configuracao">Configuração</button>
          </div>

          <div class="buttonDivC">
            <button [routerLink]="['/home']" class="buttonIcon d-flex align-items-center justify-content-center"
              type="submit"><img class="icone" src="https://i.imgur.com/oQy43dE.png" alt="Icone Sair">
              Sair
            </button>
          </div>
        </form>
      </div>
    </nav>
  </div>
</div>



<div class="row d-flex justify-content-center mt-5 mb-5">
  <div class="col-md-4">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Digite a descrição do voucher" [(ngModel)]='descricao'
        (keyup)='findBydescricaoVoucher(descricao)'>
    </div>
  </div>
</div>
<div class="card-columns">
  <div class="card text-center" *ngFor='let voucher of listaVoucher'>
    <div class="card-body">
      <h5 class="card-title m-0">{{voucher.empresaParceira}}</h5>
      <small class="text-muted"> Pontos necessarios: {{voucher.pontosNecessario}}</small>
      <small class="text-muted"> Descrição: {{voucher.descricaoVoucher}}</small>
    </div>
  </div>
</div>

<!--Cliente-->

<div class="container-fluid">

  <div class="row bg-secondary">

    <div class="cow-12 fontText">

      <h1 class="fs-54 text-center"> Cliente </h1>
      <h3 class="fs-18 text-center">Seus pontos: </h3>
      <h4 class="fs-18 text-center">{{cliente.meusPontos}}</h4>
      <h5 class="fs-18 text-center">Veja seus vouchers:</h5>

      <div class="row d-flex justify-content-lg-center mt-4 mb-5">
        <div class="col-md-3">
          <!--
            Para manter mais organizado, vamos usar o form-group, e assim ainda
            ajudar o bootstrap a encontrar ele de forma melhor
          -->
          <div class="form-group">
            <input type="text" class="form-control mb-2" id="descricao" placeholder="Pesquise por vouchers">

            <div class="d-flex justify-content-lg-center ">
              <button class="btn btn-light botaoCadastrar" (click)='findAllVoucher()'>Pesquisar</button>
            </div>

            <div class="d-flex justify-content-lg-center ">
              <button class="btn btn-light botaoCadastrar" data-bs-toggle="modal" data-bs-target="#coleta">Agendar
                coleta</button>
            </div>

          </div>
        </div>
      </div>

    </div>


  </div>

</div>


<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 d-flex justify-content-center">
      <h2>Todos os vouchers</h2>
    </div>
  </div>

  <div class="row mt-3 mb-5 d-flex justify-content-center">

    <div class="col-md-6">

      <!--Table-->
      <table class="table table-striped table-hover my-5">
        <thead>
          <!--Se eu apago um th e tenho que apagar um td para manter a proporção-->
          <tr>
            <th scope="col" class="text-lg-center">Nº do Voucher</th>
            <th scope="col" class="text-lg-center">Pontos necessários</th>
            <th scope="col" class="text-lg-center">Descrições</th>
            <th scope="col" class="text-lg-center">Empresa</th>
          </tr>
        </thead>
        <tbody class="my-5">
          <tr *ngFor="let voucher of listaVoucher">
            <td scope="row" class="text-lg-center">{{voucher.id_voucher}}</td>
            <td scope="row" class="text-lg-center">{{voucher.pontosNecessario}}</td>
            <td class="text-lg-center">{{voucher.descricaoVoucher}}</td>
            <td class="text-lg-center">{{voucher.empresaCriadora.nome}}</td>
            <td class="d-flex justify-content-center">
              <!--
                Passamos o [routerLink]="['/tema-edit', item.id]" para direcionar para
                 a nossa rota e pegar o id no item que está nessa linha.
              -->
              <button class="btn btn-info mx-2" data-bs-toggle="modal" data-bs-target="#resgatar"> Resgatar </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!--/Table-->

    </div>

  </div>

</div>
<!-- modal -->
<div class="modal fade " id="resgatar" tabindex="-1" aria-labelledby="tituloModalCentralizado" aria-hidden="true"
  name="modelAddPonto">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ">
      <div class="modal-header">

        <button type="button" class="btn-close my-2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!--Corpo do modal-->

      <div class="modal-body">

        <div class="form-group my-2 d-flex align-content-center justify-content-center mx-2">
          <div>
            <label class="mb-1" for="titulo" name="titulo">Digite o Nº do
              Voucher</label>
            <input (input)="idNumeroVoucher($event)" type="text" class="form-control" id="titulo" name="titulo">
          </div>
        </div>

      </div>
      <!--/Corpo do modal-->

      <!-- (keyup)='addPonto(IdCliente, pontosCliente)'-->

      <div class="modal-footer">
        <button type="button" class="btn btn-success my-2" name="modelAddPonto" data-bs-dismiss="modal"
          (click)="adquirirVoucher()" routerLink="['/cliente']">Atribuir</button>
      </div>
    </div>
  </div>
</div>
<!--/Modal Config -->
<!-- Nav Bar -->

<!--Modal Config-->
<div class="modal fade " id="config" tabindex="-1" aria-labelledby="tituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{cliente.nome}}</h5>
        <button type="button" class="btn-close my-2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!--Corpo do modal-->

      <div class="modal-body">

        <div class="form-group my-2 d-flex align-content-center justify-content-center mx-2">
          <label class="mb-1" for="titulo">Nome</label>
          <input type="text" class="form-control" id="titulo" placeholder="Nome" [(ngModel)]='cliente.nome'>
        </div>

        <div class="form-group my-2 d-flex align-content-center justify-content-center mx-2">
          <label class="mb-1" for="titulo">E-mail</label>
          <input type="text" class="form-control" id="titulo" placeholder="E-mail" [(ngModel)]='cliente.email'>
        </div>

        <div class="form-group my-2 d-flex align-content-center justify-content-center mx-2">
          <label class="mb-1" for="titulo">Senha atual</label>
          <input type="text" class="form-control" id="titulo" placeholder="Senha atual">
        </div>

        <div class="form-group my-2 d-flex align-content-center justify-content-center mx-2">
          <label class="mb-1" for="titulo">Nova senha</label>
          <input type="text" class="form-control" id="titulo" placeholder="Nova senha">
        </div>

        <div class="form-group my-2 d-flex align-content-center justify-content-center mx-2">
          <label class="mb-1" for="titulo">Endereço</label>
          <input type="text" class="form-control" id="titulo" placeholder="Endereço">
        </div>

      </div>
      <!--/Corpo do modal-->

      <div class="modal-footer">
        <button [routerLink]="['/deleteCliente', cliente.id_usuario]" type="button" class="btn btn-danger my-2"
          data-bs-dismiss="modal">Deletar</button>
        <button (click)="alterarCliente()" type="button" class="btn btn-success my-2">Salvar</button>
      </div>
    </div>
  </div>
</div>
<!--/Modal Config-->

<!--Modal Agendamento-->
<div class="modal fade " id="coleta" tabindex="-1" aria-labelledby="tituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{cliente.nome}}</h5>
        <button type="button" class="btn-close my-2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!--Corpo do modal-->

      <div class="modal-body">

        <div class="form-group my-2 d-flex align-content-center justify-content-center mx-2">
          <label class="mb-1" for="titulo">Endereço</label>
          <input type="text" class="form-control" id="titulo" placeholder="Logradouro, nº - Bairro - Cep - Complemento">
        </div>

        <div class="form-group my-2 d-flex align-content-center justify-content-center mx-2">
          <label class="mb-1" for="titulo">O que será retirado?</label>
          <input type="text" class="form-control" id="titulo"
            placeholder="Descreva o tipo de resíduo. Ex: Plástico, alumínio">
        </div>

        <div class="form-group">
          <label for="texto">Descreva</label>
          <textarea class="form-control" name="texto" id="texto" rows="3"
            placeholder="Descreva a embalagem que se encontra os resíduos e a quantidade aproximadamente."></textarea>
        </div>

      </div>
      <!--/Corpo do modal-->

      <div class="modal-footer">
        <button type="button" class="btn btn-success my-2">Agendar</button>
      </div>
    </div>
  </div>
</div>
<!--/Modal Config-->


<!-- Meus Vouchers -->


<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 d-flex justify-content-center">
      <h2>Meus Vouchers</h2>
    </div>
  </div>

  <div class="row mt-3 mb-5 d-flex justify-content-center">

    <div class="col-md-6">

      <!--Table-->
      <table class="table table-striped table-hover my-5">
        <thead>
          <!--Se eu apago um th e tenho que apagar um td para manter a proporção-->
          <tr>
            <th scope="col" class="text-lg-center">Nº do Voucher</th>
            <th scope="col" class="text-lg-center">Pontos necessários</th>
            <th scope="col" class="text-lg-center">Descrições</th>
            <th scope="col" class="text-lg-center">Empresa</th>
          </tr>
        </thead>
        <tbody class="my-5">
          <tr>
            <!--*ngFor="let voucher of voucher.meusVouchers"-->

            <td scope="row" class="text-lg-center">{{voucher.id_voucher}}</td>
            <td scope="row" class="text-lg-center">{{voucher.pontosNecessario}}</td>
            <td class="text-lg-center">{{voucher.descricaoVoucher}}</td>
            <td class="text-lg-center">{{voucher.empresaCriadora.nome}}</td>
            <td class="d-flex justify-content-center"></td>

            <!--
                Passamos o [routerLink]="['/tema-edit', item.id]" para direcionar para
                 a nossa rota e pegar o id no item que está nessa linha.
              -->


          </tr>
        </tbody>
      </table>
      <!--/Table-->

    </div>

  </div>