<div class="container d-flex">
  <div class="row">
    <div class="col-4">
      <h2>
        Sobre nós
      </h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic iste error aut, dolorum quibusdam accusamus unde
        temporibus explicabo perspiciatis expedita quis cumque laudantium, magnam saepe aspernatur. Labore quis rem
        tenetur!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates et natus, explicabo
        perferendis hic fuga ad debitis alias id autem unde dignissimos consequuntur excepturi, dolorem maxime
        repellendus, repellat veritatis dolore.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic iste error aut, dolorum quibusdam accusamus unde
        temporibus explicabo perspiciatis expedita quis cumque laudantium, magnam saepe aspernatur. Labore quis rem
        tenetur!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates et natus, explicabo
        perferendis hic fuga ad debitis alias id autem unde dignissimos consequuntur excepturi, dolorem maxime
        repellendus, repellat veritatis dolore.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic iste error aut, dolorum quibusdam accusamus unde
        temporibus explicabo perspiciatis expedita quis cumque laudantium, magnam saepe aspernatur. Labore quis rem
        tenetur!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates et natus, explicabo
        perferendis hic fuga ad debitis alias id autem unde dignissimos consequuntur excepturi, dolorem maxime
        repellendus, repellat veritatis dolore.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-8">

      <div class="d-flex justify-content-center">
        <div>
          <h3>
            Sobre nos
          </h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic iste error aut, dolorum quibusdam accusamus unde
            temporibus explicabo perspiciatis expedita quis cumque laudantium, magnam saepe aspernatur. Labore quis rem
            tenetur!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <h3>
            Sobre nos
          </h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic iste error aut, dolorum quibusdam accusamus unde
            temporibus explicabo perspiciatis expedita quis cumque laudantium, magnam saepe aspernatur. Labore quis rem
            tenetur!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <div>
          <h3>
            Sobre nos
          </h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic iste error aut, dolorum quibusdam accusamus unde
            temporibus explicabo perspiciatis expedita quis cumque laudantium, magnam saepe aspernatur. Labore quis rem
            tenetur!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <h3>
            Sobre nos
          </h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic iste error aut, dolorum quibusdam accusamus unde
            temporibus explicabo perspiciatis expedita quis cumque laudantium, magnam saepe aspernatur. Labore quis rem
            tenetur!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
