<div class="container d-flex">
  <div class="row align-items-center justify-content-between" width="100%">
    <div class="col-4">
      <h2>
        Sobre nós
      </h2>
      <hr>
      <p class="justifyText">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic iste error aut, dolorum quibusdam accusamus unde
        temporibus explicabo perspiciatis expedi
      </p>
      <p class="justifyText">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic iste error aut, dolorum quibusdam accusamus unde
        temporibus explicabo perspiciatis expedit
      </p>
      <p class="justifyText">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic iste error aut, dolorum quibusdam accusamus unde
        temporibus explicabo perspiciatis expedita
      </p>
    </div>




    <div class="col-3 mb-5">
      <div>
        <div>
          <div class="d-flex justify-content-center" width="100%">
            <img class="imagemSobreNos" src="https://i.imgur.com/aQnXfO3.png" alt="Imagem de lixeira">
          </div>
          <h3>
            Sobre nós
          </h3>
          <p class="justifyText">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic iste error aut, dolorum quibusdam
            accusamus
            unde
          </p>
          <div class="d-flex justify-content-center" width="100%">
            <img class="imagemSobreNos" src="https://i.imgur.com/AyW2eCg.png" alt="Imagem símbolo reciclagem">
          </div>
          <h3>
            Sobre nós
          </h3>
          <p class="justifyText">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic iste error aut, dolorum quibusdam
            accusamus
            unde
          </p>
        </div>
      </div>
    </div>

    <div class="col-3  mb-5">
      <div class="d-flex align-content-center">
        <div>
          <div class="d-flex justify-content-center" width="100%">
            <img class="imagemSobreNos" src="https://i.imgur.com/58li80g.png" alt="Imagem de caminhão da cooperativa">
          </div>
          <h3>
            Sobre nós
          </h3>
          <p class="justifyText">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic iste error aut, dolorum quibusdam
            accusamus
            unde
          </p>
          <div class="d-flex justify-content-center" width="100%">
            <img class="imagemSobreNos" src="https://i.imgur.com/neNLHhD.png" alt="Ilustração da empresa parceira">
          </div>
          <h3>
            Sobre nós
          </h3>
          <p class="justifyText">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic iste error aut, dolorum quibusdam
            accusamus
            unde
          </p>
        </div>
      </div>


    </div>
  </div>
</div>